body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#user-info {
    text-align: right;
    margin-bottom: 10px;
}

#calendar {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

/* Colors for day statuses */
td.empty {
    background-color: #fff;
}

td.office {
    background-color: #aaf;
}

td.home {
    background-color: #afa;
}

td.day_off {
    background-color: #ddd;
}

#calendar-controls {
    margin-bottom: 10px;
}

/* Legend styles */
#legend {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}

#legend ul {
    list-style: none;
    padding: 0;
}

#legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.legend-box.empty {
    background-color: #fff;
}

.legend-box.office {
    background-color: #aaf;
}

.legend-box.home {
    background-color: #afa;
}

.legend-box.day_off {
    background-color: #ddd;
}

/* Flash messages */
.flashes {
    list-style: none;
    padding: 0;
    color: red;
}
